{
  "env": {
    "commonjs": true,
    "node": true,
    "es2021": true
  },
  "extends": [
    "prettier",
    "plugin:react/recommended",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["@typescript-eslint", "import"],
  "rules": {
    "no-console": "off",
    "max-len": [1, 100, { "ignoreUrls": true }],
    "arrow-parens": 0, // Несовместимо с prettier
    "linebreak-style": 0,
    "no-nested-ternary": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
